<link rel='stylesheet' type='text/css' href='/survey/siteAssets/css/material-icons.css' rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='http://localhost:3001/css/toastr.min.css' rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='http://localhost:3001/css/ace-survey.css' rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='http://localhost:3001/css/date-picker.css' rel="stylesheet" />
<script src='http://localhost:3001/javascript_dist/jquery-3.2.1.min.js'></script>
<script src='http://localhost:3001/javascript_dist/toastr.min.js'></script>
<script src='http://localhost:3001/javascript_dist/acevn-survey-bundle.js'></script>
<div id='ace-survey-holder'>

</div>
<script>
    var ACE_SV_GLOBAL_VALUE = {
        survey_list_title: 'Dong gop y kien quy trinh'
    }
    window.addEventListener("load", function () {
        // Query url parameter
        ACE_SV_GLOBAL_VALUE.survey_list_title = AceSurveyUtility.getUrlParameter('listid');

        // Response Page
        // new SurveyReponsePage(ACE_SV_GLOBAL_VALUE.survey_list_title)
        //     .renderToElement(document.getElementById("ace-survey-holder"), function () {
        //       })
        // .onPageRenderred(function () {
        // });

        // Graph Page
        // new SurveyGraphPage(ACE_SV_GLOBAL_VALUE.survey_list_title)
        //     .renderToElement(document.getElementById("ace-survey-holder"))
        //     .onPageRenderred(function () {
        //     });

        // Editor Page
        // new SurveyEditorPage(ACE_SV_GLOBAL_VALUE.survey_list_title)
        //     .renderToElement(document.getElementById("ace-survey-holder"))
        //     .onPageRenderred(function () {
        //     });
        renderModeView();
    });

    var renderModeEdit = function () {
        document.getElementById("ace-survey-holder").innerHTML = '';
        new SurveyEditorPage(ACE_SV_GLOBAL_VALUE.survey_list_title)
            .renderToElement(document.getElementById("ace-survey-holder"))
            .onPageRenderred(function () {
            });
    }

    var renderModeGraph = function () {
        document.getElementById("ace-survey-holder").innerHTML = '';
        new SurveyGraphPage(ACE_SV_GLOBAL_VALUE.survey_list_title)
            .renderToElement(document.getElementById("ace-survey-holder"))
            .onPageRenderred(function () {
            });
    }
    var renderModeView = function () {
        document.getElementById("ace-survey-holder").innerHTML = '';
        new SurveyReponsePage(ACE_SV_GLOBAL_VALUE.survey_list_title)
            .renderToElement(document.getElementById("ace-survey-holder"), function () {
            })
            .onPageRenderred(function () {
            });
    }


</script>