<link type='text/css' rel="stylesheet" href='../Style%20Library/css/ace-survey.css' />
<script type='text/javascript' src='../Style%20Library/js/acevn-survey-bundle.js'></script>
<div class="row" id="mainSurvey">
    <h1>Survey List</h1>
    <h4>Manage your surveys and response the question.</h4>
    <button class="ms-ButtonHeightWidth btn-newsurvey" type="button" style="display:none; margin-bottom: 20px;">Create
        New Survey</button>
    <table class="table table-hover table-stripped table-bordered">
        <thead>
            <tr>
                <th width="20%">Title</th>
                <th>Description</th>
                <th>Responses</th>
                <th>Questions</th>
                <th>Author</th>
                <th>Created</th>
                <th>Last Updated</th>
                <th>Scope</th>
                <th style="width:30px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button class="ms-ButtonHeightWidth btn-newsurvey" type="button" style="display:none">Create New Survey</button>
</div>


<script type="text/javascript">

    var script = document.createElement("SCRIPT");
    script.src = '../Style%20Library/js/moment.js';
    script.type = 'text/javascript';
    document.getElementsByTagName("head")[0].appendChild(script);


    function executeJson(url, method, headers, payload) {
        method = method || 'GET';
        headers = headers || {};
        headers["Access-Control-Allow-Origin"] = "*";
        headers["Accept"] = "application/json;odata=verbose";
        headers["X-RequestDigest"] = $("#__REQUESTDIGEST").val();

        var ajaxOptions =
        {
            url: url,
            type: method,
            contentType: "application/json;odata=verbose",
            headers: headers
        };
        if (typeof payload !== 'undefined') {
            ajaxOptions.data = JSON.stringify(payload);
        }
        return $.ajax(ajaxOptions);
    }

    function LoadSurvey() {
        //getusereffectivepermissions
        executeJson(_spPageContextInfo.webAbsoluteUrl + "/_api/web/effectiveBasePermissions", "GET").then(function (data) {
            console.log(data)
            var permissions = new SP.BasePermissions();
            permissions.fromJson(data.d.EffectiveBasePermissions);
            var hasPermission = permissions.has(SP.PermissionKind.manageLists);
            if (hasPermission) {
                $(".btn-newsurvey").show();
            }
            else {
                $(".btn-newsurvey").hide();
            }
        });

        var fullUrlQuery = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists?$select=*,EffectiveBasePermissions,HasUniqueRoleAssignments,ServerRelativeUrl,ItemCount,Items,Fields&$filter=BaseTemplate%20eq%20102&$expand=RootFolder,Items,Fields";
        executeJson(fullUrlQuery, "GET").then(function (data) {
            var html = '';

            $.each(data.d.results, function (idx, item) {
                var c = 0;
                $.each(item.Fields.results, function (index, itm) {
                    if (itm.CanBeDeleted) c++;
                });

                var permissions = new SP.BasePermissions();
                permissions.fromJson(item.EffectiveBasePermissions);
                var hasPermission = permissions.has(SP.PermissionKind.manageLists);
                if (hasPermission) {
                    html += '<tr url="' + item.RootFolder.ServerRelativeUrl + '">';
                    html += '<td><a href="' + item.RootFolder.ServerRelativeUrl + '/overview.aspx" target="_blank">' + item.Title + '</a></td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td>' + item.ItemCount + '</td>';
                    html += '<td>' + c + '</td>';
                    html += '<td>Pending...</td>'
                    html += '<td>' + (new Date(item.Created)).format("dd-MM-yyyy") + '</td>';
                    html += '<td>' + (new Date(item.LastItemModifiedDate)).format("dd-MM-yyyy") + '</td>';
                    if (item.HasUniqueRoleAssignments)
                        html += '<td>Private</td>';
                    else
                        html += '<td>Public</td>';

                    if (permissions.has(SP.PermissionKind.manageLists)) {
                        html += '<td><button data-list-id="' + item.Id + '" class="btn-edit-survey"></button></td>';
                    } else {
                        html += '<td></td>';
                    }
                    html += '</tr>';
                }
            });

            $("#mainSurvey > table  > tbody").html(html);
            setTimeout(function () {
                $tr_list = $("#mainSurvey > table  > tbody").find("tr");

                /// Get Author
                $.each($tr_list, function (idx, item) {
                    var fullUrlQuery = _spPageContextInfo.webAbsoluteUrl + "/_api/web/getfilebyserverrelativeurl('" + $(item).attr("url") + "/overview.aspx')?$expand=Author";
                    executeJson(fullUrlQuery, "GET").then(function (data2) {
                        $(item).find('td').get(4).innerHTML = data2.d.Author.Title;
                    });
                });
            }, 100);
            
            setTimeout(function () {
                $('.btn-edit-survey').on('click', function (e) {
                    var surveyEditorDialog = new AceNewSurveyDialog();
                    surveyEditorDialog.setSurveyId(e.currentTarget.getAttribute('data-list-id'));
                    surveyEditorDialog.setOnSaved(function (survey_id, survey_title, survey_description) {
                        getSurveyListInfoById(survey_id, function (survey_info) {
                            var $tr_parent = $(e.currentTarget).parents("tr").first();
                            if ($tr_parent.length > 0) {
                                var td_list = $tr_parent.find("td");
                                td_list.get(0).innerHTML = '<a href="' + item.RootFolder.ServerRelativeUrl + '/overview.aspx" target="_blank">' + survey_info.Title + '</a>';
                                td_list.get(1).innerHTML = survey_info.Description;
                                if (survey_info.HasUniqueRoleAssignments)
                                    td_list.get(7).innerHTML = "Private";
                                else
                                    td_list.get(7).innerHTML = "Public";

                            }
                        });
                    });
                    return false
                });
            }, 500);


            RebuildFooter();
        });
    }


    function getSurveyListInfoById(survey_id, onLoaded) {
        var fullUrlQuery = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbyid('" + survey_id + "')?$select=*,EffectiveBasePermissions,HasUniqueRoleAssignments,ServerRelativeUrl,ItemCount,Items,Fields&$filter=BaseTemplate%20eq%20102&$expand=RootFolder,Items,Fields";
        executeJson(fullUrlQuery, "GET").then(function (data) {
            onLoaded(data.d);
        });
    }


    $(document).ready(function () {
        $(".btn-newsurvey").click(function () {
            // var buildLink = _spPageContextInfo.webAbsoluteUrl + '/_layouts/15/new.aspx?FeatureId=%7B00bfea71-eb8a-40b1-80c7-506be7590102%7D&ListTemplate=102';
            // window.open(buildLink, "_blank");
            new AceNewSurveyDialog();
            return false;
        });
    });

    window.onload = function () {
        LoadSurvey();
    };
</script>